@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(180deg, #010101, #0f0800);
    width: 100%;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
}

p{
    line-height: 200%;
}

header.logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav{
    float:right;
    width: 50%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active:after{
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background: #DC7000;
    position: relative;
    top: 6.8px;
    left: -14px;
    border-radius: 10px;
}

header nav ul li.active:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #DC7000;
    position: relative;
    top: 37px;
    left: 20px;
    border-radius: 10px;
}

header nav ul li a {
    color: #fff;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom:5px solid #DC7000;
    padding-bottom: 12.5px;
}

header nav ul li.btn a{
    background-color: #FA9021;
    padding: 9px 17px;
    border-radius: 6px;
    transition: all 300ms ease;
}

header nav ul li.btn a:hover{
    background-color: #b1580f;
}

.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info{
    width: 527px;
    padding-top: 70px;
}

.hero--info h2{
    color:#FA9021;
    font-weight: 600;
    font-size: 20px;
}

.hero--info h1{
    font-weight: 600;
    font-size: 50px;
}

.hero--info p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0
}

.hero--info .btn{
    background: #FA9021;
    color:#fff;
    border-radius: 50px;
    padding:15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero img{
    position: absolute;
    top:-150px;
    right:60px;
}

/*секция с играми*/

.trending {
    padding-top: 50px;
}

.trending h3{
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all{
    color:#fff;
    background:#25211D;
    border-radius: 10px;
    padding: 10px 30px;
    float:right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover{
    transform: scale(1.1);
}

.trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin: 20px;
}

.trending .games span img{
    position: relative;
    top:5px;
    left:-4.5px;
    scale:0.9;
}

.big-text{
    padding: 50px 0px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    width: 800px;
}

.banner{
    position: relative;
    padding: 50px 0;
}

.banner h3{
    font-weight: 500;
    font-size: 31px;
}

.banner p{
    padding: 32px 0px;
    width: 545px;
    line-height: 200%;
}

.banner-images {
    position: relative;
    display: block;
}

.banner .img_banner {
    padding: 46px 0px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: block;
}

.banner .background_dots {
    position: absolute;
    top: -10px;
    right: 200px;
    transform: scale(1.4);
    z-index: 1;
}

.features {
    background: url('/img/Block2.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 80px;
}

.features .container > h3,
.features .container > p {
    margin-bottom: 20px;
    text-align: center;
    width: 826px;
    margin-left: auto;
    margin-right: auto;
}

.features .container h3{
    font-size: 30px;
}

.features .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img{
    margin-bottom: 10px;
}

.features .info .block p {
    text-align: center;
    margin-bottom: 10px;
}

.projects{
    padding: 100px 0;
    width: 1170px;
    transform: scale(1.2);
}

.projects h3{
    font-size: 30px;
    text-align: center;
}

.projects p{
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all{
    float: none;
    width: 60px;
    text-align: center;
    margin: auto;
}